/* video overlay */

.video-overlay {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    inset: 0;
    background: var(--overlay);
    z-index: var(--z-modal);
}

/* modal */

.video-modal {
    position: relative;
    width: 80%;
    max-width: 900px;
}

.video-modal video {
    border-radius: 3px;
    width: 100%;
}

/* close button */

.close-video {
    position: absolute;
    font-size: 15px;
    color: #fff;
    top: -39px;
    right: 0;
    cursor: pointer;
}

.close-video:hover {
    color: var(--main-color);
}